body{
    background-image: url(/imgs/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.d1{

    margin: 0 auto;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 15px;
    border: 2px solid black;
    width: 1150px;
}