body{
    background-image: url(//imgs/cha.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}

.d1{

    margin: 0 auto;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 15px;
    border: 2px solid black;
    width: 1150px;
}

.d1{
    color: #515151;
    
}

.d2{
    color: rgb(132, 12, 36);
}
