body{
    background-image: url(/imgs/365676-imagenes-primeros-datos-resident-evil-hd-remaster.webp);
    background-repeat: no-repeat;
    background-size:cover;
    width: 100%;
}

.h1{
    color: crimson;
}

.p1{
    color: #fff;
}

.h2{
    color: crimson;
}

.p2{
    color: #fff;
}

.d1{

    margin: 0 auto;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 15px;
    border: 2px solid black;
    width: 1150px;
}