body{
    background-image: url(/imgs/xytj0c6i2g441.webp);
    background-repeat: no-repeat; 
    width: auto;
    background-size:cover;
    align-self: center;
    
}

.h1{
color: crimson;
}

.p1{
color: #fff;
}

.h2{
color: crimson;
}

.p2{

    color: #fff;

}

.d1{

    margin: 0 auto;
    border-radius: 20px;
    border: solid black;
    width: 1100px;
    background-color: rgba(0, 0, 0,.4);
    align-items: center;

}