body{
    background-image: url(/imgs/resident-evil-5-6-7-wallpapers-4k-v0-6ywsva42qn5e1.jpg);
    background-size: cover;
    width:auto;
}

.h1{
    color:crimson;
}

.p1{
    color: #fff;
}

.h2{
    color: crimson;
}

.p2{
    color: #fff;
}


.d1{

    margin: 0 auto;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 15px;
    border: 2px solid black;
    width: 1150px;
}