body{
    background-image: url(imgs/resident-evil-village-RE8-screen-01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
}


.h1{
    color: crimson;
}

.p1{
    color: black;
}

.h2{
    color: crimson;
}

.p2{
    color: black;
}


.d1{

    margin: 0 auto;
    background-color: rgba(0, 0, 0,.4);
    border-radius: 15px;
    border: 2px solid black;
    width: 1150px;
}