body{
 background-image: url(/imgs/GAMECOIN-RESIDENTE-EVIL-UMBRELLA-CORPS2.jpg);
 background-repeat: no-repeat;
 background-size: cover;


}

.sobre{
    
    margin: 0 auto;
    background-color: rgba(61, 52, 52, 0.107);
    border-radius: 5px;
    border: 2px solid black;
    width: 1150px;

}